      {% comment %} <footer class="footer pt-3">
        <div class="container-fluid ">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted ">
                &copy; 
                <a href="#" class="font-weight-bold " target="_blank">Arkeos App</a> 
                - coded by Arkeos<a target="_blank" href=""> </a>.
              </div>
            </div>
            <div class="col-lg-6"> {% endcomment %}
              {% comment %} <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/product/soft-ui-dashboard-django" 
                     class="nav-link text-muted" target="_blank">Product</a>
                </li>
              </ul> {% endcomment %}
            {% comment %} </div>
          </div>
        </div>
      </footer> {% endcomment %}


      <footer class="footer py-3 ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-4 mb-lg-0 mx-auto text-center">
              <div class="copyright text-center text-sm text-muted">
                &copy; 
                <a href="home" class="font-weight-bold" target="_blank">Arkeos App</a> 
                - coded by Arkeos<a target="_blank" href=""> </a>.
              </div>
            </div>
          </div>
        </div>
      </footer>

